
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../../partials/userheader', {active_menu:'workouts'}); %>
</header>

<main>
    <div class="jumbotron">
        * list all created workout plans <br/>
        * create a new one <br/>
    </div>
</main>

<footer>
    <%- include('../../partials/footer'); %>
</footer>

</body>
</html>
