import { Metadata } from "next"

export const metadata: Metadata = {
  title: "Example - Example Server Page",
  description: "This is a page that is pre-rendered on the server for Example.",
}

export default function ExamplePage() {
  return (
    <section>
      <h1>Example</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, repudiandae. Nemo, alias. Magni nesciunt
        possimus similique eveniet, nostrum maiores quidem cupiditate, esse reprehenderit, id repellendus dolore odit
        molestias expedita nihil!
      </p>
    </section>
  )
}
